#TD_1 {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    height: 70px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    vertical-align: middle;
    width: 64.8px;
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    perspective-origin: 32.4px 35px;
    transform-origin: 32.4px 35px;
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#TD_1*/

#TD_1:after {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#TD_1:after*/

#TD_1:before {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#TD_1:before*/

#DIV_2 {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(113, 113, 113);
    height: 64.4px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    top: 0px;
    width: 64.4px;
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    perspective-origin: 32.2px 32.2px;
    transform-origin: 32.2px 32.2px;
    caret-color: rgb(113, 113, 113);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(113, 113, 113);
    border-radius: 8px 8px 8px 8px;
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    border-collapse: collapse;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
    color: rgb(113, 113, 113);
    content: '""';
    display: block;
    height: 64.4px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    top: 0px;
    width: 64.4px;
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    perspective-origin: 32.2px 32.2px;
    transform-origin: 32.2px 32.2px;
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    border-radius: 8px 8px 8px 8px;
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(113, 113, 113);
    height: 64.4px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    top: 0px;
    width: 64.4px;
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    perspective-origin: 32.2px 32.2px;
    transform-origin: 32.2px 32.2px;
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    border-radius: 8px 8px 8px 8px;
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
    overflow: hidden;
}/*#DIV_3*/

#DIV_3:after {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#DIV_3:before*/

#IMG_4 {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(113, 113, 113);
    display: block;
    height: 64.4px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    top: 0px;
    width: 42.5px;
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    perspective-origin: 21.25px 32.2px;
    transform-origin: 21.25px 32.2px;
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    margin: 0px 10.95px;
    outline: rgb(113, 113, 113) none 0px;
}/*#IMG_4*/

#IMG_4:after {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#IMG_4:after*/

#IMG_4:before {
    border-collapse: collapse;
    color: rgb(113, 113, 113);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(113, 113, 113);
    word-break: break-word;
    column-rule-color: rgb(113, 113, 113);
    caret-color: rgb(113, 113, 113);
    border: 0px none rgb(113, 113, 113);
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(113, 113, 113) none 0px;
}/*#IMG_4:before*/

#SPAN_5 {
    border-collapse: collapse;
    bottom: 52.2125px;
    color: rgb(255, 255, 255);
    display: block;
    height: 17.6px;
    left: 51.1375px;
    overflow-wrap: break-word;
    position: absolute;
    right: -8.99997px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: -8.99997px;
    white-space: nowrap;
    width: 6.675px;
    word-break: break-word;
    z-index: 2;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 11.125px 10.5875px;
    transform-origin: 11.125px 10.5875px;
    caret-color: rgb(255, 255, 255);
    background: rgba(153, 153, 153, 0.9) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 23.9999px 23.9999px 23.9999px 23.9999px;
    font: normal normal 500 normal 12px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1.79999px 7.79997px;
}/*#SPAN_5*/

#SPAN_5:after {
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    word-break: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 12px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_5:after*/

#SPAN_5:before {
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    word-break: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 12px / 18.2px "Helvetica Neue", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_5:before*/


