.gallery-wrap .img-big-wrap img {
    height: 782px;
    width: 400px;
    display: inline-block;
    cursor: zoom-in;
}
.gallery-wrap .img-big-wrap1 img {
    height: 500px;
    width: 400px;
    display: inline-block;
    cursor: zoom-in;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 50px;
    height: 35px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
#product-single-details .js-qty {
    margin: 0;
    max-width: none;
}
.js-qty, .ajaxcart__qty {
    position: relative;
    margin-bottom: 1em;
    max-width: 100px;
    min-width: 75px;
    overflow: visible;
}
*, input, :before, :after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}
body {
    position: relative;
    line-height: normal !important;
}
body, input, textarea, button, select {
    font-size: 14px;
    line-height: 1.6;
    font-family: initial;
    color: #000000;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


